# Ignore StackFiles
*.livecode
*.rev
*.mc

# Ignore user state properties
userstate.json

# Ignore Externals
*.dll
*.bundle
*.so
*.lcext
*.dylib

# Ignore Archives
*.zip

# Ignore Standalones
*.app
*.exe
